* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

input,
select,
textarea {
    border: none;
    outline: none;
    background: none;
}

body {
    font-size: 14px;
    line-height: 160%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--color-black);
    background-color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 16px;
}

.cards {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 48px 0;
}

/* Card Component Start */
.card {
    background-color: var(--color-white);
}

.card__image {
    position: relative;
    height: 249px;
    overflow-y: hidden;
}

.card__image:hover .card__description {
    bottom: 0;
}

.card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.card__actions {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__house {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary-red);
    border: 2px solid var(--color-white);
    border-radius: 50%;
    cursor: pointer;
}

.card__house-icon {
    width: 13px;
    height: 14px;
}

.card__panorama {
    display: flex;
    align-items: center;
    column-gap: 20px;
    background-color: var(--color-white);
    padding: 6px 10px;
    opacity: 0.8;
}

.card__panorama-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.card__description {
    position: absolute;
    right: 0;
    bottom: -96px;
    left: 0;
    height: 96px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    overflow-y: auto;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: bottom 0.3s ease-in-out;
}

.card__description-text {
    color: var(--color-white);
}

.card__info {
    padding-top: 10px;
}

.card__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 13px;
}

.card__name {
    font-family: 'EuclidFlex', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    cursor: pointer;
}

.card__name:hover {
    color: var(--color-secondary-red);
}

.card__locations {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 15px 0;
}

.card__location {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.card__location-icon {
    fill: var(--color-white);
}

.card__location-icon_pin {
    width: 15px;
    height: 18px;
}

.card__location-icon_metro {
    width: 22px;
    height: 10px;
}

.card__location-icon_route {
    width: 13px;
    height: 15px;
}

.card__location-text {
    font-family: 'EuclidFlex', sans-serif;
    color: var(--color-gray);
    font-weight: 500;
}
/* Card Component End */

/* Favorite Button Start */
.favorite {
    width: 24px;
    height: 22px;
    cursor: pointer;
}

.favorite__icon {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--color-black);
}

.favorite__icon_active {
    fill: var(--color-secondary-red);
    stroke: var(--color-secondary-red);
}
/* Favorite Button End */

/* Rating Start */
.rating {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
}

.rating__stars {
    display: flex;
    align-items: center;
    column-gap: 4px;
    --star-clip: 0%;
}

.rating__star {
    width: 16px;
    height: 16px;
    color: var(--color-yellow);
}

.rating__star_half {
    color: var(--color-yellow);
    --star-clip: 50%;
}

.rating__star_empty {
    --star-clip: 100%;
}
/* Rating End */

/* Botton Start */
.button {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: var(--color-red);
    border-radius: 4px;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
    transition: opacity 0.3s ease-in-out;
}

.button:hover {
    opacity: 0.7;
}
/* Botton End */