@media (min-width: 768px) {
    .card {
        display: flex;
    }

    .card__image {
        width: 334px;
        height: 277px;
    }

    .card__info {
        flex: 1;
        padding: 0 0 0 20px;
    }
}

@media (min-width: 1320px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 30px;
        row-gap: 50px;
    }

    .card {
        display: initial;
    }

    .card__image {
        width: 100%;
        height: 348px;
    }

    .card__info {
        padding: 15px 0 0;
    }

    .card__locations {
        flex-flow: row wrap;
        column-gap: 30px;
    }

    .card__location:nth-child(1) {
        order: 0
    }

    .card__location:nth-child(2) {
        order: 2
    }

    .card__location:nth-child(3) {
        order: 1
    }

    .card__button {
        margin-top: 15px;
    }

    .button {
        display: flex;
    }
}
